version: '3'
services:
  zookeeper:
    image: wurstmeister/zookeeper   ## 镜像
    restart: unless-stopped
    ports:
      - "2181:2181"                 ## 对外暴露的端口号
  kafka:
    image: wurstmeister/kafka       ## 镜像
    # volumes: 
    #     - /etc/localtime:/etc/localtime ## 挂载位置（kafka镜像和宿主机器之间时间保持一直）
    restart: unless-stopped
    ports:
      - "9092:9092"
    environment:
      KAFKA_ADVERTISED_HOST_NAME: 127.0.0.1   ## 修改:宿主机IP
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181       ## 卡夫卡运行是基于zookeeper的
      KAFKA_ADVERTISED_PORT: 9092
      KAFKA_LOG_RETENTION_HOURS: 120
      KAFKA_MESSAGE_MAX_BYTES: 10000000
      KAFKA_REPLICA_FETCH_MAX_BYTES: 10000000
      KAFKA_GROUP_MAX_SESSION_TIMEOUT_MS: 60000
      KAFKA_NUM_PARTITIONS: 3
      KAFKA_DELETE_RETENTION_MS: 1000
    links:
     - zookeeper:zk
  # kafka-manager:  
  #   image: sheepkiller/kafka-manager                ## 镜像：开源的web管理kafka集群的界面
  #   environment:
  #       ZK_HOSTS: zookeeper:2181                   ## 修改:宿主机IP
  #       KAFKA_BROKERS: kafka:9092 #,172.23.0.156:9092,172.23.0.157:9092
  #       APPLICATION_SECRET: "random-secret"
  #       KAFKA_MANAGER_AUTH_ENABLED: "false" # 开启验证
  #       #KAFKA_MANAGER_USERNAME: "admin" # 用户名
  #       #KAFKA_MANAGER_PASSWORD: "admin" # 密码
  #       KM_ARGS: -Djava.net.preferIPv4Stack=true
  #       network_mode: "host"
  #   links:
  #     - zookeeper
  #     - kafka
  #   restart: unless-stopped
  #   ports:  
  #     - "9000:9000"                                 ## 暴露端口

#http://127.0.0.1:9000/