version: '3.9'
services:
  mediamtx:
    image: bluenviron/mediamtx:latest-ffmpeg
    container_name: mediamtx
    privileged: true
    # restart: unless-stopped
    ports:
      - 28554:8554
      - 21935:1935
    #   - 8888:8888
    #   - 8889:8889
    #   - 8554:8554
    #   - 8890:8890/udp
    volumes:
      - ./start.sh:/start.sh
      - ./mediamtx.yml:/etc/mediamtx/mediamtx.yml
      - D:/custom/docker/data/mediamtx:/data
      - D:/custom/docker/data/mediamtx/input:/data/input:rw
      - D:/custom/docker/data/mediamtx/output:/data/output:rw
    environment:
      RTSP_RTSPADDRESS: 0.0.0.0:8554
      RTMP_RTMPADDRESS: 0.0.0.0:1935
    #command: ffmpeg -re -stream_loop -1 -i /data/input/01.mp4 -c copy -f rtsp rtsp://localhost:8554/01
    #command: sh -c "ffmpeg -i /data/input/01.mp4 -f rtsp rtsp://localhost:8554/01"
    #command: sh -c "ffmpeg -re -stream_loop -1 -i /data/input/01.mp4 -c copy -f rtsp rtsp://localhost:8554/01"