version: '3.1'
services:
  redis:
    image: redis:latest
    container_name: redis
    privileged: true
    # restart: always
    ports:
      - 6379:6379
    # networks:
    #   - redisnetwork
    volumes:
      -  ./redis/redis.conf:/usr/local/etc/redis/redis.conf:rw
      -  ./redis/data:/data:rw
    command:
      /bin/bash -c "redis-server /usr/local/etc/redis/redis.conf"
# networks:
#   redisnetwork:
#     external: true
