#version: '3.9'

services:
  windows:
    image: dockur/windows
    container_name: windows
    privileged: true
    environment:
      #VERSION: "11"
      LANGUAGE: "Chinese"
      RAM_SIZE: "8G"
      CPU_CORES: "4"
      DISK_SIZE: "256G"
      USERNAME: "docker"
      PASSWORD: "docker"
      ARGUMENTS: "-device usb-host,vendorid=0x1234,productid=0x1234"
    volumes:
      - ./dockur/storage:/storage
      - ./dockur/data:/data
      - ./dockur/oem:/oem
      #- ./Win11_24H2_Pro_Chinese_Simplified_x64.iso:/custom.iso
    devices:
      - /dev/kvm
      - /dev/bus/usb
    cap_add:
      - NET_ADMIN
    ports:
      - 8006:8006
      - 3389:3389/tcp
      - 3389:3389/udp
    stop_grace_period: 2m
