# docker-compose build
version: '3.9'
volumes:
  dbbackups:

services:
  postgis:
    image: kartoza/postgis:14-3.1
    #image: kartoza/postgis:15-3.3
    container_name: postgis
    #restart: on-failure
    volumes:
      - ./postgis/postgis-data:/var/lib/postgresql
      - ./postgis/dbbackups:/backups
    environment:
      # If you need to create multiple database you can add coma separated databases eg gis,data
      - POSTGRES_DB=gis
      - POSTGRES_USER=postgis
      - POSTGRES_PASS=postgis
      - ALLOW_IP_RANGE=0.0.0.0/0
      # Add extensions you need to be enabled by default in the DB. Default are the five specified below
      - POSTGRES_MULTIPLE_EXTENSIONS=postgis,hstore,postgis_topology,postgis_raster,pgrouting
      - RUN_AS_ROOT=true
    ports:
      - 5432:5432
    # restart: on-failure
    healthcheck:
      test: "PGPASSWORD=postgis pg_isready -h 127.0.0.1 -U postgis -d gis"
