version: '3'
services:
  clickhouse:
    image: clickhouse/clickhouse-server:latest
    container_name: clickhouse-server
    privileged: true
    restart: unless-stopped
    ports:
      - "8123:8123"
      - "9000:9000"
      - "9009:9009"
    environment:
      - CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT=1
      - CLICKHOUSE_USER=admin
      - CLICKHOUSE_DEFAULT_PROFILE=default
      - CLICKHOUSE_PASSWORD=admin123
      - CLICKHOUSE_DEFAULT_ACCESS=1
      - CLICKHOUSE_ALLOW_EXPERIMENTAL_GEO_TYPES=1
      - CLICKHOUSE_ALLOW_EXPERIMENTAL_ANNOY_INDEX=1
      - CLICKHOUSE_MAX_MEMORY_USAGE=10000000000
      - CLICKHOUSE_MAX_CONCURRENT_QUERIES=100
      - CLICKHOUSE_MAX_THREADS=8
      - CLICKHOUSE_MAX_BLOCK_SIZE=65536
    # volumes:
    #   # 数据持久
    #   - ./data:/var/lib/clickhouse:rw
    #   - ./config/config.xml:/etc/clickhouse-server/config.xml:rw
    #   - ./config/users.xml:/etc/clickhouse-server/users.xml:rw
    #   # 运行日志
    #   - ./log:/var/log/clickhouse-server
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    # command: >
    #   bash -c  "echo 'clickhouse-client -u admin --password admin123'; && sleep 3 && echo 'CREATE DATABASE dongshan'; "
    # command: >
    #   bash -c "echo 'clickhouse-client -u admin --password admin123;' &&
    #            echo 'CREATE DATABASE dongshan;' &&
    #            echo 'CREATE USER IF NOT EXISTS wanji IDENTIFIED WITH sha256_password BY 'wanji123';' && 
    #            echo 'GRANT ALL PRIVILEGES ON dongshan.* TO wanji;' &&
    #            echo 'SYSTEM FLUSH CONFIGS;'"
  # clickhouse-init:
  #   image: clickhouse/clickhouse-client:latest
  #   depends_on:
  #     - clickhouse
  #   environment:
  #     - CLICKHOUSE_HOST=clickhouse
  #   command: >
  #     bash -c "echo 'CREATE USER IF NOT EXISTS wanji IDENTIFIED WITH plaintext_password BY 'wanji123';' | clickhouse-client --multiquery --host clickhouse && 
  #              echo 'GRANT ALL PRIVILEGES ON *.* TO root;' | clickhouse-client --multiquery --host clickhouse"