version: '3'
services:
  clickhouse:
    image: clickhouse/clickhouse-server:latest
    container_name: clickhouse-server
    privileged: true
    restart: unless-stopped
    ports:
      - "8123:8123"
      - "9000:9000"
      - "9009:9009"
    environment:
      - CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT=1
      - CLICKHOUSE_USER=admin
      - CLICKHOUSE_DEFAULT_PROFILE=default
      - CLICKHOUSE_PASSWORD=admin123
      - CLICKHOUSE_DEFAULT_ACCESS=1
      - CLICKHOUSE_ALLOW_EXPERIMENTAL_GEO_TYPES=1
      - CLICKHOUSE_ALLOW_EXPERIMENTAL_ANNOY_INDEX=1
      - CLICKHOUSE_MAX_MEMORY_USAGE=10000000000
      - CLICKHOUSE_MAX_CONCURRENT_QUERIES=100
      - CLICKHOUSE_MAX_THREADS=8
      - CLICKHOUSE_MAX_BLOCK_SIZE=65536
    # volumes:
    #   # 数据持久    
    #   - ./config/config.xml:/etc/clickhouse-server/config.xml:rw
    #   - ./config/users.xml:/etc/clickhouse-server/users.xml:rw
    #   - ./data:/var/lib/clickhouse:rw
    #   # 运行日志
    #   - ./log:/var/log/clickhouse-server
    ulimits:
      nofile:
        soft: 262144
        hard: 262144